#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding: 2.5px 0;
}

.input-container {
  height: 60px;
  width: 300px;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.input {
  height: 50px;
  width: 50px;
}

.letter {
  height: 50px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 5px;
  border: 3px solid #242424;
  font-size: x-large;
  margin: 5px;
}
